@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
    .heading-1 {
        @apply text-xl sm:text-[33px] font-medium
    }

    .heading-2 {
        @apply text-base sm:text-[26px] leading-[35px] font-normal
    }

    .heading-3 {
        @apply text-sm sm:text-xl leading-[26px] font-normal
    }

    .heading-4 {
        @apply text-xl leading-5 font-medium
    }

    .heading-5 {
        @apply text-base leading-[27px] font-normal
    }

    .body-large {
        @apply text-base font-bold
    }

    .body-medium {
        @apply text-sm font-normal
    }

    .body-small {
        @apply text-xs leading-5 font-normal
    }
}

.container {
    max-width: 1280px;
    @apply px-4 mx-auto
}

/* Card list grid logic */
.card-text {
    font-size: clamp(15px, 2.2vw, 19px);
    line-height: 1;
}

.card-text-margin {
    margin-top: max(10px, 1.7vw);
    margin-bottom: max(8px, 1.1vw);
}

.card-list-grid-columns {
    /**
   * User input values.
   */
    --grid-layout-gap: 20px;
    --grid-column-count: 3;
    --grid-item--min-width: 136px;


    /**
     * Calculated values.
     */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-column-gap: var(--grid-layout-gap);
    grid-row-gap: 40px;
}
/* Card list grid logic */
